/* input {
    margin-top: 3px;
    padding: 15px;
    font-size: 16px;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #292929;
    background: transparent;
    color: aliceblue;
} */

/* select{
    border: 1px solid #292929;
    background: #292929;
    color: gray;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    margin-top: 3px;
    outline: none;
    cursor: pointer;
} */